.app.dark {
  --bg-color: #153bbb;
  --inverted-bg-color: #e1e1e1;


  --primary-color: #087008;
  --secondary-color: #24d067;

  --inverted-primary-color: #0a3465;
  --inverted-secondary-color: #11889d;
}