.app.light {
  --bg-color: #e1e1e1;
  --interted-bg-color: #091c57;


  --primary-color: #0d3a73;
  --secondary-color: #219bb0;
  --inverted-primary-color: #087008;
  --inverted-secondary-color: #24d067;
}